@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

$break-small: 516px;
$break-large: 1366px;

$color-red: #FF0000;
$color-primary: #5AC8FA;
$color-gray: #707070;
$color-error: #fdcfcf;
$color-success: #9ff1ae;
$gradient-primary: linear-gradient($color-primary, #FFFFFF);
$gradient-light: linear-gradient(to right, #F2F2F2, #FFFFFF);
$font-stack: 'Poppins', sans-serif;
$box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

@mixin alert($color) {
    margin-top: 35px;
    background-color: $color;
    border: 1px solid darken($color, 10%);
    color: darken($color, 50%);
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}

@mixin position-center($top-percentage) {
    position: absolute;
    top: $top-percentage;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 13px;
    font-family: $font-stack;

    @media screen and (min-width: $break-small) {
        font-size: 16px;
    }
}

/* helper classes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.grid-row {
    display: flex;
    flex-direction: row;
}

.grid-col {
    display: flex;
    flex-direction: column;
    height: 100vh;
}



/* typography */

h1 {
    font-weight: 800;
    font-size: 5em;
    color: #000000;

    &.small {
        font-size: 2em;
    }
}

a {
    text-decoration: none;
    color: darken($color-primary, 10%);

    &:hover {
        color: darken($color-primary, 20%);
    }
}

/* sign-up & sign-in form styles */

.form-container {
    background: $gradient-primary;
    height: 100vh;
    width: 100%;
    position: relative;
}

.form-wrapper {
    @include position-center(50%);
    width: 90%;

    @media screen and (min-width: $break-small) {
        width: 60%;
    }

    @media screen and (min-width: $break-large) {
        width: 40%;
        max-width: 600px;
    }

    form {
        width: 100%;
        padding: 50px;
        background-color: #FFF;   
        box-shadow: $box-shadow;
        text-align: center;
    
        input {
            display: block;
            width: 100%;
            padding: 20px;
            border: 1px solid #000;
            margin: 10px 0 35px 0;
        }
    
        label {
            display: block;
            text-align: left;
        }
    
        button {
            background-color: #000;
            border: none;
            color: #FFF;
            padding: 18px 60px;
        }
    
        .error {
           @include alert($color-error);
        }
    
        .success {
           @include alert($color-success);
        }
    }
}

.form-footer {
    padding: 12px 0;
}

/* Landing Page */



.landing-container {
    padding: 5px;

    @media screen and (min-width: $break-large) {
        padding: 5px 40px;
    }
}

.landing-wrapper {
    height: 80vh;
    background-image: url('../img/logo.png'), $gradient-primary;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: auto;

    /* landing page tagline */
    .landing-tagline {
        @include position-center(50%);
        width: 100%;
        
        h2 {
            font-weight: 600;
            color: #000000;
        }

    }

    /* landing page year */
    .landing-year {
        @include position-center(85%);
        width: 100%;
        
        h1 {
            font-weight: 700;
            letter-spacing: 0.5em;
        }

        /* override odometer.js font style */
        .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
            font-family: $font-stack;
        }
    }
}

/* Navbar */

.logo {
    background-color: #000000;
    text-align: center;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;

    &.full {
        width: 100%;

    }

    @media screen and (min-width: $break-small) {
        width: 100px;
        height: 100px;
    }

    img {
        width: 40px;

        @media screen and (min-width: $break-small) {
            width: 50px;
        }
    }
}

.nav-logo {
    display: flex;
}

.nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;


    @media screen and (min-width: $break-small) {
        font-size: 1.2em;
        padding-right: 100px;
    }
    
    a {
        color: $color-gray;
        margin-right: 10px;

        @media screen and (min-width: $break-small) {
            margin-right: 60px;
        }
        

        &:hover {
            color: darken($color-gray, 20%)
        }

        &.focus {
            font-weight: 700;
            color: #000000;
        }
    }

    .cta {
        border-radius: 25px;
        padding: 10px 25px;
        background-color: $color-primary;
        color: #FFF;
        font-weight: 600;
        border: none;

        &:hover {
            background-color: darken($color-primary, 10%);
            cursor: pointer;
        }
    }
}

/* Product Icons */
.product-icons {
    img {
        margin-right: 40px;
        height: 30px;

        &:last-of-type {
            margin-right: 0;
        }
    }
}

/* Welcome */

.nav-col {
    height: 60px;

    @media screen and (min-width: $break-small) {
        height: 100px;
    }
}

.content-col {
    flex: 1;
    background: $gradient-light;

    @media screen and (min-width: $break-small) {
        margin-left: 100px;
    }
}

.gutter {
    flex: 0 0 100px;
}

.content-wrapper {
    flex: 1;
}

.content {
    @include position-center(50%);
}

.product-link {
    @include position-center(65%);
    font-weight: 600;
}

.product-icons-row {
    @include position-center(80%);
}





