@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap');

$break-small: 516px;
$break-large: 1366px;

$color-accent: #FF3B30;
$color-primary: #5AC8FA;
$color-gray: #707070;
$color-error: #fdcfcf;
$color-success: #9ff1ae;
$gradient-primary: linear-gradient($color-primary, #FFFFFF);
$gradient-light: linear-gradient(to right, #F2F2F2, #FFFFFF);
$font-stack: 'Poppins', sans-serif;
$box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

@mixin alert($color) {
    margin-top: 35px;
    background-color: $color;
    border: 1px solid darken($color, 10%);
    color: darken($color, 50%);
    padding: 20px;
    border-radius: 2px;
    text-align: center;
}

@mixin position-center($top-percentage) {
    position: absolute;
    top: $top-percentage;
    left: 50%;
    transform: translate(-50%, -50%);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-size: 13px;
    font-family: $font-stack;

    @media screen and (min-width: $break-small) {
        font-size: 16px;
    }
}

/* helper classes */

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* flexbox classes */

.flex {
    display: flex;
}

.flex-grid-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-grid-col {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.align-bottom {
    align-items: flex-end;
}

/* General Typography */

h1 {
    font-weight: 800;
    font-size: 5em;
    color: #000000;

    &.small {
        font-size: 2em;
    }
}

a {
    text-decoration: none;
    color: darken($color-primary, 10%);

    &:hover {
        color: darken($color-primary, 20%);
    }
}

/* PAGE - signup & signin */

.form-container {
    background: $gradient-primary;
    height: 100vh;
    width: 100%;
    position: relative;
}

.form-wrapper {
    @include position-center(50%);
    width: 90%;

    @media screen and (min-width: $break-small) {
        width: 60%;
    }

    @media screen and (min-width: $break-large) {
        width: 40%;
        max-width: 600px;
    }

    form {
        width: 100%;
        padding: 50px;
        background-color: #FFF;   
        box-shadow: $box-shadow;
        text-align: center;
    
        input {
            display: block;
            width: 100%;
            padding: 20px;
            border: 1px solid #000;
            margin: 10px 0 35px 0;
        }
    
        label {
            display: block;
            text-align: left;
        }
    
        button {
            background-color: #000;
            border: none;
            color: #FFF;
            padding: 18px 60px;
        }
    
        .error {
           @include alert($color-error);
        }
    
        .success {
           @include alert($color-success);
        }
    }
}

.form-footer {
    padding: 12px 0;
}

/* PAGE - Landing */

.landing-wrapper {
    height: 80vh;
    background-image: $gradient-primary;
    background-color: #FFF;
    position: relative;
    overflow: hidden;

    img.white-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-60%);
    }

    /* landing page tagline */

    .landing-tagline {
        @include position-center(50%);
        width: 100%;
        
        h2 {
            font-weight: 600;
            color: #000000;
        }
    }

    /* landing page year */

    .landing-year {
        @include position-center(85%);
        width: 100%;
        
        h1 {
            font-weight: 700;
        }

        /* override odometer.js font style */
        
        .odometer.odometer-auto-theme, .odometer.odometer-theme-default {
            font-family: $font-stack;
            letter-spacing: 0.5em;
        }
    }
}

/* COMPONENT - Navbar */

.logo {
    background-color: #000000;
    text-align: center;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: center;
    z-index: 100;

    &.full {
        width: 100%;

    }

    @media screen and (min-width: $break-small) {
        width: 100px;
        height: 100px;
    }

    img {
        width: 40px;

        @media screen and (min-width: $break-small) {
            width: 50px;
        }
    }
}

.nav-logo {
    display: flex;
}

.nav-links {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1em;


    @media screen and (min-width: $break-small) {
        font-size: 1.2em;
        padding-right: 100px;
    }
    
    a {
        color: $color-gray;
        margin-right: 10px;

        @media screen and (min-width: $break-small) {
            margin-right: 60px;
        }
        

        &:hover {
            color: darken($color-gray, 20%)
        }

        &.focus {
            font-weight: 700;
            color: #000000;
        }
    }

    .cta {
        border-radius: 25px;
        padding: 10px 25px;
        background-color: $color-primary;
        color: #FFF;
        font-weight: 600;
        border: none;

        &:hover {
            background-color: darken($color-primary, 10%);
            cursor: pointer;
        }
    }
}

/* COMPONENT - Product Icons */

.product-icons, .product-icons a {
    img {
        margin-right: 40px;
        height: 30px;
    }
}

.product-icons { 
    margin-right: -40px;

    &.fixed {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 100px;
        z-index: 10;

        @media screen and (max-width: $break-large) {
            display: none;
        }
    }

    &.fixed * {
        margin: 20px auto;
        text-align: center;
        display: block;

    }
}

/* PAGE - Welcome */

.col-nav {
    height: 60px;

    @media screen and (min-width: $break-small) {
        height: 100px;
    }
}

.col-content {
    flex: 1;
    @media screen and (min-width: $break-large) {
        margin-left: 100px;
    }
}

.welcome-content {
    background: $gradient-light;
}

.content-wrapper {
    flex: 1;
}

.welcome-header {
    @include position-center(50%);
    background: url('../img/logo-gray.png');
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 0;
    width: 90%;
}

.product-link {
    @include position-center(65%);
    font-weight: 600;
}

.product-icons-row {
    @include position-center(80%);
}

/* PAGE - iPhone */

h2.product-type {
    color: $color-accent;
    font-size: 2em;
}

.product-row {
    flex: 1.5;
}

.product-img-row {
    flex: 1;
    flex-basis: 100%;

    @media screen and (min-width: $break-small) {
        flex-basis: auto;
    }
}

.shipping {
    display: inline-block;
    padding: 10px 0;
    color: $color-accent;
}

.product-content {
    background: $gradient-light;
    padding: 10px;
    position: relative;

    @media screen and (min-width: $break-small) {
        padding: 70px 120px 70px 70px;
    }

    img {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 180px;
        z-index: 0;
    }

    h1 {
        font-weight: 700;
    }

    p {
        font-size: 1.5em;
        color: #999999;
        line-height: 1.5em;
    }

    div {
        z-index: 10;
    }
}

.product-price {
    flex: 1;
    padding: 10px;

    @media screen and (min-width: $break-small) {
        padding: 70px;
    }

    h3.price {
        color: #CCCCCC;
        font-weight: 800;
        font-size: 3em;
    }

    span.buy-now {
        color: $color-accent;
        font-weight: 700;
        font-size: 1.2em;
    }
}

.product-slider {
    flex: 1;
    text-align: center;
    padding: 10px;
    flex-basis: 100%;

    @media screen and (min-width: $break-small) {
        padding: 70px 0;
        flex-basis: auto;
    }

    img {
        width: 90px;
        &:first-of-type {
            margin-right: 20px;
        }
    }
}

.slider-track {
    background-color: #EEE;
    height: 8px;
    width: 150px;
    margin: 20px auto;
}

.slider {
    height: 8px;
    width: 50%;
    background-color: $color-accent;
}

/* helps display animations properly */

.router-wrapper {
    position: relative;
    width: 100%;
}

.animation-wrapper {
    position: absolute;
    width: 100%;
    overflow-x: hidden;

}